In [23]:

word = 'corey solitaire'
new_word = []
vowel = set('aeiou')
def letter_search (word):
    for letter in word:
        if letter in vowel:
            new_word.append(vowel)
    return new_word

# Identify the data type of the following values

In [1]:
type(99.9)

float

In [3]:
type('false')

str

In [7]:
False

False

In [5]:
type('0')

str

In [6]:
type (0)

int

In [8]:
True

True

In [9]:
type('True')

str

In [10]:
type([{}])

list

In [12]:
type({'a' : []})

dict

# What data type would best represent?

str - A term or phrase typed into a search box?

bool - If a user is logged in?

float - A discount amount to apply to a user's shopping cart?
        ie 10% (0.10)

bool - Whether or not a coupon is valid?

str - An email address typed in to registration form

float - The price of a product ($--.--)

List - A matrix?

List - The email addresses collected from a registion  
       form?

Dictionary - Information about applicants to Codeup's 
             data science program?

In [1]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [2]:
6 % 4

2

In [3]:
type(6 % 4)

int

In [4]:
type(type(6 % 4))

type

In [5]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [7]:
0 < 0

False

In [8]:
'False' == False

False

In [9]:
True == 'True'

False

In [10]:
5 >= -5

True

In [12]:
!False or False

In [13]:
True or "42"

True

In [14]:
!True && !False

/bin/bash: !False: command not found

In [15]:
6 % 5

1

In [16]:
5 < 4 and 1 == 1

False

In [17]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [18]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (<ipython-input-18-28fe0c9082c3>, line 1)

In [19]:
6 % 3 == 0

True

In [20]:
5 % 2 != 0

True

In [21]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [22]:
[1] + [2]

[1, 2]

In [23]:
[1] * 2

[1, 1]

In [24]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [25]:
[] + [] == []

True

In [26]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

You have rented some movies for your kids: The little mermaid (for 3 days), Brother Bear (for 5 days, they love it), and Hercules (1 day, you don't know yet if they're going to like it). If price for a movie per day is 3 dollars, how much will you have to pay?

In [31]:
m = 3
b = 5
h = 1
cost =((m*3)+(b*3)+(h*3))
print(cost)

27

Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook, they pay you a different rate per hour. Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive in payment for this week? You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

In [32]:
g = 400
a = 380
f = 350

week_pay = ((g * 6) + (a * 4) + (f * 10))
print (week_pay)

7420

Question:
A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

Answer:
student == student.class if class_size <= Max and 
student.class != student.schedule.class.current

Question:
A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

Answer:

If member == premium and offer.date <= offer.expirationdate
then offer == discount

Else
offer == (product * 2) and offer.date <= offer.expirationdate

# Use the following code to follow the instructions below:

In [55]:
username = 'codeup'
password = 'notastrongpassword'

In [41]:
if len(password) > 5:
    print(True) 
else:
    print(False)

True

In [42]:
if len(password) > 5 and len(username) <= 20:
    print(True) 
else:
    print(False)

True

In [47]:
if len(password) > 5 and len(username) <= 20 and username != password:
    print(True) 
else:
    print(False)

True